<!DOCTYPE html>
<html>
  <head>
    <title>CE3 Report</title>
  </head>
  <body>

    <h1>CE3 Report</h1>
    <!--begin.rcode
	opts_chunk$set(fig.width=5, fig.height=5)
	end.rcode-->
    <h2>Header</h2>
    <ul>
      <li>Standard: <!--rinline a$cs --></li>
      <li>Sign: <!--rinline a$csi --></li>
      <li>Year: <!--rinline a$cy --></li>
    </ul>
    <h2>Customer device</h2>
    <ul>
      <li>Name: <!--rinline  a$cmco1$Name  --></li>
      <li>Type: <!--rinline  a$cmco1$Type  --></li>
      <li>Sign: <!--rinline  a$cmco1$Sign --></li>
    </ul>
    <h2>Temperatures</h2>
    
    <!--begin.rcode
	upperLimit <- 24.0
	lowerLimit <- 22.0

	Tpbox <- getConstVal(a$cav$Temperature, "Tpbox")
	Troom <- getConstVal(a$cav$Temperature, "Troom")
	Txhv  <- getConstVal(a$cav$Temperature, "Txhv")
	Tuhv  <- getConstVal(a$cav$Temperature, "Tuhv")
	Tfm3  <- getConstVal(a$cav$Temperature, "Tfm3")
	N     <- length(Tfm3)
	df    <- data.frame(
	Tpbox = Tpbox,
	Troom = Troom,
	Txhv  =	Txhv,
	Tuhv  = Tuhv,
	Tfm3  = Tfm3,
	Mpkt  = 1:N)
	ggplot(ndf) + 
	geom_point(aes(x=Mpkt, y=value, 
	color = factor(ndf$variable),
	pch=factor(ndf$variable)),
	size=3) + 

	Tpbox <- getConstVal(a$cav$Temperature, "Tpbox")
	Troom <- getConstVal(a$cav$Temperature, "Troom")
	Txhv  <- getConstVal(a$cav$Temperature, "Txhv")
	Tuhv  <- getConstVal(a$cav$Temperature, "Tuhv")
	Tfm3  <- getConstVal(a$cav$Temperature, "Tfm3")
	N     <- length(Tfm3)

	df    <- data.frame(
	Tpbox = Tpbox,
	Troom = Troom,
	Txhv  =	Txhv,
	Tuhv  = Tuhv,
	Tfm3  = Tfm3,
	Mpkt  = 1:N)

	ggplot(ndf) + 
	geom_point(aes(x = Mpkt, y = value, 
	color = factor(ndf$variable)),
	size=4) + 	  
	guides(colour = guide_legend("Temperatures"))

        end.rcode-->

  </body>
</html>
